* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

.box{
  margin: 20px;
  background-color: #dadada;
  width: 500px;
  border-radius: 10px;
}

.box h1{
  font-size:100px;
  display: flex;
  justify-content: center;
}

.box button{
  border-radius: 10px;
  font-size:50px;
  padding: 3px;
  margin: 5px;
}