* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #111;
  color: white;
}

html, body {
  height: 100%;
  width: 100%;
}

button{
  margin: 20px;
  height: 100px;
  width: 200px;
  font-size: xx-large;
  background-color: red;
}